<header class="header">
  <a href="" class="logo-header">
    AcBankShop
  </a>
  <div class="search-container">
    <form action="#">
      <input type="text" placeholder="Search.." name="search" class="search-input">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <nav>
    <ul class="main-nav-list">
      <li>
        <a href="" class="main-nav-link">Home</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Course</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Contact</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Login</a>
      </li>
    </ul>
  </nav>
</header>