<app-header></app-header>

<main>
  <div class="text section-hero">
    <h1>Premium shopping experiences at a fraction of the cost</h1>
    <p>
      From immersive retail to stunning digital design, showcase your brand on
      the only cost-effective platform for scale.
    </p>
  </div>
  <div class="header-carousel">
    <h1>Top Hottest Products</h1>
    <p>
      <span> < </span>
      <span>></span>
    </p>
  </div>
  <section class="section-carousel">
    <ng-container *ngFor="let product of arrayProduct">
      <div class="product">
        <picture>
          <img [src]="product.image" alt="" />
        </picture>
        <div class="detail">
          <p>
            <b>{{ product.name }}</b
            ><br />
            <small>{{ product.status }}</small>
          </p>
          <samp>{{ product.price }}</samp>
        </div>
        <div class="button">
          <p class="star">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <a href="#">Add-cart</a>
        </div>
      </div>
    </ng-container>
    <!-- <div class="product">
      <picture>
        <img src="../assets/images/banner1.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product One</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/banner1.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Two</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/banner3.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Three</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/banner4.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Four</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/watch.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Five</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/delta.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Six</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/image3.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Seven</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/image2.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Eight</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/nokia.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Nine</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/nokia-air.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Ten</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/feature_3.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Eleven</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div>
    <div class="product">
      <picture>
        <img src="../assets/images/one.png" alt="" />
      </picture>
      <div class="detail">
        <p>
          <b>Product Twelve</b><br />
          <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
      </div>
      <div class="button">
        <p class="star">
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
          <strong>&star;</strong>
        </p>
        <a href="#">Add-cart</a>
      </div>
    </div> -->
  </section>

  <section class="section-products">
    <div class="header-carousel">
      <h1 class="">Products Exclusively for you</h1>
    </div>
    <!-- List product -->
    <div class="product-list grid grid--5-col">
      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>

      <div class="productdto-list">
        <img
          class="product-image"
          src="../assets/images/feature_3.png"
          alt=""
        />
        <div class="product-detail">
          <a href="" class="product-title">Nike Shoes</a>
          <p class="product-price">$45.00</p>
          <p class="product-start">
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
            <strong>&star;</strong>
          </p>
          <div class="button-product">
            <a class="btn btn-cart" href="#">Add-cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
