<header class="header">
  <a href="" class="logo-header"> AcBankShop </a>
  <div class="search-container">
    <form action="#">
      <input
        type="text"
        placeholder="Search.."
        name="search"
        class="search-input"
      />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <nav>
    <ul class="main-nav-list">
      <li>
        <a href="" class="main-nav-link">Home</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Course</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Contact</a>
      </li>
      <li>
        <a href="" class="main-nav-link">Login</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div class="wrapper">
    <h2>Registration</h2>
    <form class="signup-form" action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required />
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" required />
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" required />
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" required />
      </div>
      <div class="policy">
        <input type="checkbox" />
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now" />
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div>
    </form>
  </div>
</main>
